version: '3'

services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    volumes:
      - ./api:/app/api
      - ./projects:/app/projects
    working_dir: /app/api


    logging:
      driver: awslogs
      options:
        awslogs-region: ap-northeast-2  # AWS 리전
        awslogs-group: /docker/autorag-api-vmonster # CloudWatch 로그 그룹
        awslogs-create-group: 'true'    # 로그 그룹 자동 생성


    ports:
      - "8000:8000"
      - "7690:7690" # for panel report
      - "8501:8501" # for streamlit chat
      - "8100:8100" # for chat API server
    environment:
      - WATCHFILES_FORCE_POLLING=true  # Docker on Windows/macOS를 위한 설정
      - TZ=Asia/Seoul
      - PYTHONPATH=/app/api
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - LOG_LEVEL=DEBUG     # 로그 레벨 설정
      - PYTHONUNBUFFERED=1  # Python 출력 버퍼링 비활성화

    depends_on:
      - redis

  flower:
    image: mher/flower
    command: celery flower --broker=redis://redis:6379/0 --port=5555
    ports:
      - "5555:5555"
    environment:
      - TZ=Asia/Seoul
      - FLOWER_BROKER_API=redis://redis:6379/0
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - redis
      - api

volumes:
  redis_data:

networks:
  app-network:
    driver: bridge
