# Local Version
torch  # for monot5 reranker
sentencepiece  # for monot5 reranker
bert_score # for bert score
optimum[openvino,nncf] # for openvino reranker
peft
llmlingua # for longllmlingua
FlagEmbedding # for flag embedding reranker
sentence-transformers # for sentence transformer reranker
transformers

### LlamaIndex ###
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-llms-huggingface
