pydantic<2.10.0 # incompatible with llama index
numpy<2.0.0 # temporal not using numpy 2.0.0
pandas>=2.1.0
tqdm
tiktoken>=0.7.0  # for counting token
openai>=1.0.0
rank_bm25  # for bm25 retrieval
pyyaml  # for yaml file
pyarrow  # for pandas with parquet
fastparquet  # for pandas with parquet
sacrebleu  # for bleu score
evaluate  # for meteor and other scores
rouge_score  # for rouge score
rich  # for pretty logging
click  # for cli
cohere>=5.8.0 # for cohere services
tokenlog>=0.0.2 # for token logging
aiohttp # for async http requests
voyageai # for voyageai reranker
mixedbread-ai # for mixedbread-ai reranker
llama-index-llms-bedrock
scikit-learn
emoji

### Vector DB ###
pymilvus # for using milvus vectordb
chromadb>=0.5.0 # for chroma vectordb
weaviate-client # for weaviate vectordb
pinecone[grpc] # for pinecone vectordb
couchbase # for couchbase vectordb

### API server ###
quart
pyngrok
### LlamaIndex ###
llama-index>=0.11.0
llama-index-core>=0.11.0
# readers
llama-index-readers-file
# Embeddings
llama-index-embeddings-openai
# LLMs
llama-index-llms-openai>=0.2.7
llama-index-llms-openai-like
# Retriever
llama-index-retrievers-bm25

# WebUI
streamlit
gradio

### Langchain ###
langchain-core>=0.3.0
langchain-unstructured>=0.1.5
langchain-upstage
langchain-community>=0.3.0

# autorag dashboard
panel
seaborn
ipykernel
ipywidgets
ipywidgets_bokeh
