numpy
pandas
tqdm
tiktoken  # for counting token
openai>=1.0.0
rank_bm25  # for bm25 retrieval
transformers
swifter  # for parallel pandas apply
pyyaml  # for yaml file
pyarrow  # for pandas with parquet
fastparquet  # for pandas with parquet
sacrebleu  # for bleu score
evaluate  # for meteor and other scores
rouge_score  # for rouge score
rich  # for pretty logging
chromadb>=0.5.0 # for vectordb retrieval
click  # for cli
fastapi  # for api server
uvicorn  # for api server
torch  # for monot5 reranker
sentencepiece  # for monot5 reranker
guidance # for qa data creation
cohere>=5.0.0a9 # for cohere services
tokenlog>=0.0.2 # for token logging
aiohttp # for async http requests
bert_score # for bert score
sentence-transformers # for sentence transformer reranker
FlagEmbedding # for flag embedding reranker
ragas # evaluation data generation & evaluation
ray # for parallel processing

### LlamaIndex ###
llama-index>=0.10.1
llama-index-core>=0.10.1
# Embeddings
llama-index-embeddings-openai
llama-index-embeddings-huggingface
# LLMs
llama-index-llms-openai
llama-index-llms-huggingface
llama-index-llms-openai-like

# WebUI
streamlit


### Langchain ###
langchain-core>=0.1.6
