name: Sphinx build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Upgrade pip
      run: |
        python -m pip install --upgrade pip
    - name: Install gcc
      run: |
        sudo apt-get install gcc
    - name: Install dependencies
      run: |
        pip install -r docs/requirements.txt
    - name: Build HTML
      run: |
        sphinx-build -b html docs/source docs/build/html
    - name: Copy CNAME
      run: |
        cp docs/source/CNAME docs/build/html/CNAME
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: html-docs
        path: docs/build/html/
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      if: github.ref == 'refs/heads/main'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/build/html
