name: Unit Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  pull_request_target:
    branches:
      - main

env:
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Upgrade pip
        run: |
          python3 -m pip install --upgrade pip
      - name: Install gcc
        run: |
          sudo apt-get install gcc
      - name: Install AutoRAG
        run: |
          pip install -e .
      - name: Install dependencies
        run: |
          pip install -r tests/requirements.txt
      - name: delete tests package
        run: python3 tests/delete_tests.py
      - name: Run tests
        run: |
          python3 -m pytest -o log_cli=true --log-cli-level=INFO -n auto tests/
