name: Unit Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_DB: test_db
          PG_PORT: 5432
        options: >-
          --health-cmd pg_isready
          --health-interval 5s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: Update apt-get
        run: |
          sudo apt-get update
      - name: Install gcc
        run: |
          sudo apt-get install gcc
      - name: Install poppler-utils
        run: |
          sudo apt-get install poppler-utils
      - name: Install tesseract
        run: |
          sudo apt-get install tesseract-ocr
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Install Python 3.12
        run: uv python install 3.12
      - name: Install Venv
        run: uv venv
      - name: Install AutoRAG
        run: uv pip install -r pyproject.toml --all-extras -e .
      - name: Install dev dependencies
        run: uv pip install --group dev
      - name: Upgrade pyOpenSSL
        run: |
          uv pip install --upgrade pyOpenSSL
      - name: Install NLTK and download model
        run: |
          uv pip install nltk
          uv run python -c "import nltk; nltk.download('punkt_tab')"
          uv run python -c "import nltk; nltk.download('averaged_perceptron_tagger_eng')"
      - name: delete tests package
        run: uv run python tests/delete_tests.py
      - name: Run AutoRAG tests
        run: |
          uv run python -m pytest -o log_cli=true --log-cli-level=INFO -n auto tests/autorag
